extends layout

block content

	h1.page-title Round 1 / 5

	.container
		.row
			each team in room.teams
				.col-xs-6
					.slot.slot-success
						strong= team.name
						p.score= team.score
		.row
			.spacer
		div.row.text-center
			div.col-xs-12
				a.btn.btn-primary.btn-lg(href="/screen/wait_teams") New Game
