extends layout

block content

	h1.page-title ##{room.id} waiting for teams...

	.container
		.row
			.col-xs-6
				.slot.slot-success
					strong team 1
			.col-xs-6
				.slot.slot-success
					strong team 2
			.col-xs-6
				.slot.slot-success
					strong team 3
			.col-xs-6
				.slot.slot-empty
		if session.admin
			.row
				.spacer
			.row.text-center
				.col-xs-12
					a.btn.btn-primary.btn-lg(href="/screen/show_scores") Start Game
