extends layout

block content

	h1.page-title Game is over...

	.container
		.row
			each team in room.teams
				.col-xs-6
					if winner.indexOf(team) > -1
						.slot.slot-success
							strong= team.name
							p.score= team.score
					else
						.slot
							strong= team.name
							p.score= team.score

		.row.spacer

		.row.text-center
			div.col-xs-12
				form(action="/quit_game", method="post")
					button.btn.btn-danger.btn-lg(type="submit") Quit
