extends layout

block content

	h1.page-title Game is over...

	.container
		.row
			each team in room.teams
				.col-xs-6
					.slot.slot-success
						strong= team.name
						p.score= team.score
		.row.spacer

		div.row.text-center
			div.col-xs-12
				a.btn.btn-danger.btn-lg(href="/") Quit
