extends layout

block content

	h1.game-title Coders Against Humanity

	.container.text-center
		.col-xs-6
			a.btn.btn-primary.btn-lg(href="/team") Join Room
		.col-xs-6
			a.btn.btn-primary.btn-lg(href="/screen/") Create Room
