extends layout

block content

	h1.page-title Join a room

	.container
		form(action="/join_room", method="post")
			.form-group
				input.form-control(type="text", placeholder="room id", name="room")
			.form-group
				input.form-control(type="text", placeholder="room code", name="code")
			.form-group
				input.form-control(type="text", placeholder="team name", name="team")

			.form-group.text-center
				button.btn.btn-primary.btn-lg(type="submit") Join Room!

	.container

		if rooms
			h3 Last rooms

			table
				each room in rooms
					tr
						td
							a.click-room(href="#", data-room=room.id)= room.id
