extends layout

block content

	h1.page-title Round 1 / 5

	.container
		.row
			each team in room.teams
				.col-xs-6
					.slot.slot-success
						strong= team.name
						p.score= team.score

		if session.admin
			.row
				.spacer
			.row.text-center
				div.col-xs-6
					a.btn.btn-primary.btn-lg(href="/screen/show_black_card") Start Round
				div.col-xs-6
					a.btn.btn-danger.btn-lg(href="/screen/end_game") End Game
