extends layout

block content

	h1.page-title ##{room.id} waiting for teams...

	.container
		.row
			each team in room.teams
				.col-xs-6
					.slot.slot-success
						strong= team.name
		if session.admin
			.row
				.spacer
			.row.text-center
				.col-xs-12
					a.btn.btn-primary.btn-lg(href="/screen/show_scores") Start Game
