extends layout

block content

	h1.page-title Game Over

	.container
		.row
			.col-xs-6
				.slot.slot-success
					strong team 1
					p.score 100
			.col-xs-6
				.slot.slot-danger
					strong team 2
					p.score 100
			.col-xs-6
				.slot.slot-danger
					strong team 3
					p.score 100
			.col-xs-6
				.slot
