extends layout

block content

	h1.page-title Join a room

	.container
		form
			.form-group
				input.form-control(type="text", placeholder="room code")
			.form-group
				input.form-control(type="text", placeholder="team name")

			.form-group.text-center
				a.btn.btn-primary.btn-lg(href="/team/wait_teams") Join Room!
