extends layout

block content

	h1.page-title Pick your white card...

	.container
		.row
			.col-xs-6
				.slot
					.card.card-white
						a.btn.btn-primary(href="/team/wait_teams") Pick
						p Word 1
			.col-xs-6
				.slot
					.card.card-white
						a.btn.btn-primary(href="/team/wait_teams") Pick
						p Word 1
			.col-xs-6
				.slot
					.card.card-white
						a.btn.btn-primary(href="/team/wait_teams") Pick
						p Word 1
			.col-xs-6
				.slot
					.card.card-white
						a.btn.btn-primary(href="/team/wait_teams") Pick
						p Word 1
			.col-xs-6
				.slot
					.card.card-white
						a.btn.btn-primary(href="/team/wait_teams") Pick
						p Word 1
