extends layout

block content

	h1.page-title Round 1 / 5

	.container
		.row
			.col-xs-6
				.slot.slot-success
					strong team 1
					p.score 100
			.col-xs-6
				.slot
					strong team 2
					p.score 80
			.col-xs-6
				.slot
					strong team 3
					p.score 10
			.col-xs-6
				.slot.slot-danger
