extends layout

block content

	h1.page-title Waiting for teams...

	.container
		.row
			.col-xs-6
				.slot.slot-success
					strong team 1
			.col-xs-6
				.slot.slot-success
					strong team 2
			.col-xs-6
				.slot.slot-success
					strong team 3
			.col-xs-6
				.slot.slot-empty
